<nav class="navbar navbar-expand-lg navbar-light bg-light navbar1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container-fluid">
    <a class="navbar-brand brand" href="#">
      <img src="assets/IMMA.svg" alt="logo" width="95" height="60" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active links" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active links" href="#/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active links" aria-current="page" href="#/talent"> Talent</a>
        </li>
        <!-- <li class="nav-item business">
          <a class="nav-link active links" href="#/business"> Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active links" href="#/login">Login</a>
        </li> -->
      </ul>
      <div class="social-media">
        <a class="brands fa-stack fa-lg" href="https://www.linkedin.com/company/innvest/" target="_blank" role="button">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="brands fa-stack fa-lg" href="https://www.facebook.com/imaalbania" target="_blank" role="button">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="brands fa-stack fa-lg" href="https://www.instagram.com/imaalbania/" target="_blank" role="button">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="brands fa-stack fa-lg" href="https://www.youtube.com/channel/UCqyIYg43BL_iqk80IYJ3xhQ" target="_blank" role="button">
          <i class="fa fa-youtube-play"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
