<div class="d-flex justify-content-start std-overview pt-3">
  <div class="container-fluid student-overview pt-3 pb-3">
    <div class="card">
      <div class="d-flex justify-content-between p-3">
        <div class="space-regulator">
          <h3 class="table-header">Business Overview</h3>
        </div>
        <div class="d-flex">
          <span class="p-input-icon-right p-ml-auto search">
            <a class="btn btn-success exportBtn" [download]="csvFileName" [href]="getCSVDownloadLink()">Export Table</a>

          </span>
        </div>
      </div>
      <p-table responsiveLayout="stack" class="businessTable" [globalFilterFields]="['date']" [paginator]="true"
        [rowsPerPageOptions]="[10,50, { showAll: 'All' }]" sortField="date" [sortOrder]="-1" #dt1 [value]="businessData"
        [rows]="10" [showCurrentPageReport]="true" [loading]="loading" styleClass="p-datatable-gridlines">
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText class="searchBussines" type="text" (input)="applyFilterGlobal($event, 'contains')"
                placeholder="Search keyword" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th id="fullName">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                Name
              </div>
            </th>
            <th id="id">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                Email
              </div>
            </th>
            <th id="name">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                Phone
              </div>
            </th>
            <th id="name">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                Comp. Name
              </div>
            </th>
            <th id="">
              <div class="p-d-flex p-jc-between p-ai-center  bold">
                NUIS
              </div>
            </th>
            <th id="options">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                Location
              </div>
            </th>
            <th id="options">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                Skills
              </div>
            </th>
            <th id="options">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                Position requirement
              </div>
            </th>
            <th id="options">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                More Skills
              </div>
            </th>
            <th id="options">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                Date
              </div>
            </th>
            <!-- <th id="options">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                Employee NR
              </div>
            </th> -->
            <!-- <th id="options">
              <div class="p-d-flex p-jc-between p-ai-center bold">
                Describe
              </div>
            </th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataStore let-rowIndex="rowIndex">
          <tr>
            <td style="width: auto">
              <span class="p-column-title">Full Name</span>
              <span class="full-name">{{dataStore.fullName}}</span>
            </td>
            <td style="width: auto">
              <span class="p-column-title">E-mail</span>
              <span class="full-name id">{{dataStore.email}}</span>
            </td>
            <td style="width: auto">
              <span class="p-column-title">Telephone</span>
              <span class="full-name">{{dataStore.telephone}}</span>
            </td>
            <td style="width: auto">
              <span class="p-column-title">Company Name</span>
              <span class="full-name">{{dataStore.companyName}}</span>
            </td>
            <td style="width: auto">
              <span class="p-column-title">NUIS</span>
              <span class="full-name">{{dataStore.NUIS}}</span>
            </td>
            <td style="width: auto">
              <span class="p-column-title">Location</span>
              <span class="full-name">{{dataStore.location}}</span>
            </td>
            <td style="width: auto">
              <span class="p-column-title">Skills</span>
              <!--<span class="full-name" *ngFor="let skill of dataStore.skill">{{ skill.skill + ", " }}</span>-->
              <span class="full-name"> {{ dataStore.skill }}</span>
            </td>
            <td style="width: auto">
              <span class="p-column-title">Position requirement</span>
              <span class="full-name">{{dataStore.positionReq}}</span>
            </td>
            <td style="width: auto">
              <span class="p-column-title">Additional Skills</span>
              <span class="full-name">{{dataStore.additionalSkill}}</span>
            </td>
            <td>
              <span class="p-column-title">Date</span>
              <span class="full-name">{{dataStore.date}}</span>
            </td>
            <!-- <td>
              <span class="p-column-title">Employee Number</span>
              <span class="full-name">{{dataStore.noOfEmployees}}</span>
            </td> -->
            <!-- <td>
              <span class="p-column-title">Describe</span>
              <span class="full-name">{{dataStore.describe}}</span>
            </td> -->
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
