<!-- Footer !-->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <h2 class="headerFooter text-justify">IMAA ACADEMY</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <span>
          <p class="footerHeaders">E-mail</p>
          <a class="footerInfo text-justify" href="mailto:info@innvestfund.com"
            >info@innvestfund.com</a
          >
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <span>
          <p class="footerHeaders text-justify">Phone</p>
          <p class="footerInfo text-justify">Tel: +355692091818</p>
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <span class="footerHeadersAddress">
          <p class="footerHeaders text-justify">Address</p>
          <p class="footerInfoAddress text-justify">
            Rr. Brigada 8, Ndërtesa Breezy, Kati 6, Ap. 21, Tiranë, Shqipëri
          </p>
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <hr class="horizontal" />
        <p class="copyright text-justify">
          All the rights reserved IMAA Academy Albania ©.
        </p>
      </div>
    </div>
  </div>
</div>
